/boxlab-server/data
/boxlab-server/logs
/boxlab-server/node_modules
/boxlab-server/localdatabase.json

/Shimmer Android Driver Library v1.0.2/Examples/MultiShimmerGraph/bin
/Shimmer Android Driver Library v1.0.2/Examples/ShimmerGraphandLogService/bin
/.metadata

/BoxLabApp/bin
/BoxLabApp/gen/

/RajawaliTutorial/bin
/TimesSquare/bin