<div class="navbar">
    <div class="navbar-inner"> <a class="brand" href="#">Boxlab</a>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/devices">Devices</a></li>
        </ul>
    </div>
</div>