body {
  padding-top: 20px;
  padding-bottom: 60px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.container > hr {
  margin: 20px 0;
}

.jumbotron {
  text-align: center;
}

.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}